In [3]:
import pandas as pd
from modules.models import *
from utils import *

In [4]:
catmod = Categ("allbus2016")

In [15]:
catmod.data = read_csv_data(catmod.path_data, 'dataset.csv')
catmod.data.head()

,a_education,b_income,c_eastwest,d_sex,e_age,f_political_interest,g_preferred_party
0,EHER GEBILDET,EHER NIEDRIG,NEUE BUNDESLAENDER,FRAU,ALT,NEIN,DIE LINKE
1,EHER GEBILDET,EHER NIEDRIG,NEUE BUNDESLAENDER,MANN,ALT,JA,FDP
2,EHER UNGEBILDET,EHER HOCH,ALTE BUNDESLAENDER,MANN,ALT,JA,CDU-CSU
3,EHER UNGEBILDET,EHER NIEDRIG,ALTE BUNDESLAENDER,FRAU,ALT,JA,DIE LINKE
4,EHER GEBILDET,EHER HOCH,ALTE BUNDESLAENDER,MANN,ALT,JA,CDU-CSU

In [12]:
catmod.model = catmod.selection()

Saved model in:  models/

In [16]:
catmod.model.head()

,a_education,b_income,c_eastwest,d_sex,e_age,f_political_interest,g_preferred_party,p
0,EHER GEBILDET,EHER HOCH,ALTE BUNDESLAENDER,FRAU,ALT,JA,AFD,0.000888494
1,EHER GEBILDET,EHER HOCH,ALTE BUNDESLAENDER,FRAU,ALT,JA,CDU-CSU,0.00533096
2,EHER GEBILDET,EHER HOCH,ALTE BUNDESLAENDER,FRAU,ALT,JA,DIE GRUENEN,0.00266548
3,EHER GEBILDET,EHER HOCH,ALTE BUNDESLAENDER,FRAU,ALT,JA,DIE LINKE,0
4,EHER GEBILDET,EHER HOCH,ALTE BUNDESLAENDER,FRAU,ALT,JA,FDP,0.00266548

In [18]:
max = catmod.argmaximum()

OUTPUT############################
Score:  0.028431808085295423  - Prob:  2.8431808085295422 %
Index/Indizes of Sol:  [130]
MAX at:
[a_education                  EHER GEBILDET
b_income                      EHER NIEDRIG
c_eastwest              ALTE BUNDESLAENDER
d_sex                                 FRAU
e_age                                  ALT
f_political_interest                    JA
g_preferred_party              DIE GRUENEN
Name: 130, dtype: object]
OUTPUT - END #####################

In [20]:
max[0]

a_education                  EHER GEBILDET
b_income                      EHER NIEDRIG
c_eastwest              ALTE BUNDESLAENDER
d_sex                                 FRAU
e_age                                  ALT
f_political_interest                    JA
g_preferred_party              DIE GRUENEN
Name: 130, dtype: object

In [23]:
dens = catmod.dens(max[0])
dens

0.028431808085295423

In [25]:
sampling = catmod.sampling(300)

Saved samples in:  models/

In [29]:
sampling.head()

,a_education,b_income,c_eastwest,d_sex,e_age,f_political_interest,g_preferred_party
0,EHER GEBILDET,EHER NIEDRIG,ALTE BUNDESLAENDER,MANN,JUNG,JA,CDU-CSU
1,EHER GEBILDET,EHER NIEDRIG,NEUE BUNDESLAENDER,MANN,JUNG,JA,DIE LINKE
2,EHER GEBILDET,EHER NIEDRIG,NEUE BUNDESLAENDER,FRAU,JUNG,JA,AFD
3,EHER GEBILDET,EHER HOCH,ALTE BUNDESLAENDER,FRAU,ALT,JA,DIE GRUENEN
4,EHER GEBILDET,EHER NIEDRIG,ALTE BUNDESLAENDER,FRAU,ALT,JA,DIE GRUENEN